<div class="success">
    <div class="col-lg-12">
        <h3>Mission Statement</h3>
        <p> The purpose of this organization is to:
            <ul>
                <li>
                    <p>Enhance educational and professional opportunities, particularly as it pertains to the field of Biotechnology.
                </li>

                <li>
                    <p>Foster personal growth and leadership among all members.
                </li>

            </ul>

            <p>
                With insightful guest speakers, developmental workshops and tours of local industry, the BTSA provides a unique opportunity for students at San Diego State University. The BTSA is a great way to learn about available internships, network with employers, and discover exciting career opportunities in specialized fields you may not have previously considered. The BTSA club has organized trips to visit companies including JCVI, Tandem Diabetes, and CareFusion. The composition of our club is very diverse with both undergraduate and graduate students, and members majoring in computer science, biology, bio-engineering, chemistry and bioinformatics.

                <p>The BTSA meets every Monday at 5:30 in Storm Hall West - 012.


                    <p>
                        Contact
                        <strong>Jennifer Fouquier</strong> at <a href="mailto:sdsubtsa@gmail.com?subject=BTSA Biotechnology Club"> SDSUBTSA@gmail.com</a> for more information or any questions you may have.
    </div>
</div>