<div class="success">
    <div class="col-lg-12" ng-controller="MasterCtrl">
        <h3>Mission Statement</h3>
        <p> The purpose of this organization is to:
            <ul>
                <li>
                    <p>Enhance educational and professional opportunities, particularly as it pertains to the field of Biotechnology.
                </li>

                <li>
                    <p>Foster personal growth and leadership among all members.
                </li>

            </ul>

            <p>
                 The BTSA is a great way to learn about internships, network with employers, and discover exciting career opportunities in exciting fields you may not have previously considered. The BTSA club has organized trips to visit companies including <a target="_blank" href="http://www.illumina.com"> Illumina</a>, <a target="_blank" href="http://www.jcvi.org">JCVI</a>, <a target="_blank" href="http://www.tandemdiabetes.com">Tandem Diabetes</a>, and <a target="_blank" href="http://www.carefusion.com">CareFusion</a>.

                <p>Meetings for the {{clubSettings.meetinginfo.semester}} semester are held every {{clubSettings.meetinginfo.time}}, in {{clubSettings.meetinginfo.location}}.


                    <p>
                        Contact
                        <strong>{{clubSettings.president.name}}</strong> at <a href="mailto:sdsubtsa@gmail.com?subject=BTSA Biotechnology Club"> SDSUBTSA@gmail.com</a> for more information or if you have any questions.
    </div>
</div>