<!-- <div class="success">
    <div class="container">
        <h3>Alumni</h3> 
        Coming soon...
    </div>
</div> -->

<div class="success">
    <div class="container">
        <h3>Alumni</h3>

        <a data-toggle="collapse" data-target="#2013" href=""><h3>2012-2013</h3></a>
        <div id="2013" class="collapse">

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/paul.jpg" alt="President">
                <div class="caption">
                    <h4>President</h4>
                    <h3>Paul Fryling</h3>
                    <a href="www.linkedin.com/in/paulfryling">
                        <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29" border="0">
                    </a>

                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/Michelle.jpg" alt="Vice President">
                <div class="caption">
                    <h4>Vice President</h4>
                    <h3>Michelle Beoris</h3>
                    <a href="www.linkedin.com/pub/michelle-beoris/42/93b/783">
                        <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29" border="0">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of 2013 Information -->

    <div class="container">
        <a data-toggle="collapse" data-target="#2014" href=""><h3>2013-2014</h3></a>
        <div id="2014" class="collapse">

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/Jennifer.jpg" width="250" height="220" alt="President">
                <div class="caption">
                    <h4>Co-Chair</h4>
                    <h3>Jennifer Fouquier</h3>
                    <a href="http://www.linkedin.com/pub/jennifer-fouquier/7/56b/458/">
                        <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29" border="0" alt="View Jennifer Fouquier's profile on LinkedIn">
                    </a>
                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/LaurynK.jpg" alt="President">
                <div class="caption">
                    <h4>Co-Chair</h4>
                    <h3>Lauryn Keeler</h3>
                    <a href="http://www.linkedin.com/pub/lauryn-keeler/63/56a/b/">
                        <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29" border="0" alt="View Lauryn Keeler's profile on LinkedIn">
                    </a>
                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/Katie.jpg">
                <div class="caption">
                    <h4>Vice President of Membership</h4>
                    <h3>Katie Reil</h3>
                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/JennyW.jpg" width="250" height="220">
                <div class="caption">
                    <h4>Vice President of Events</h4>
                    <h3>Jenny Waters</h3>
                    <a href="http://www.linkedin.com/pub/jenny-waters/40/191/4a9/">

                        <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29">
                    </a>
                </div>
            </div>
            <br>

             <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/Natalia.jpg" width="250" height="220">
                <div class="caption">
                    <h4>Vice President of Marketing</h4>
                    <h3>Natalia Kettoola</h3>
                </div>
            </div>
            <br>

             <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/SarahB.jpg" width="250" height="220">
                <div class="caption">
                    <h4>CSSC Representative</h4>
                    <h3>Sarah Busby</h3>
                    <a href="http://www.linkedin.com/pub/sarah-ramirez-busby/38/129/17">
    
    <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29" border="0" alt="View Sarah Ramirez-Busby's profile on LinkedIn">
    
    </a>
                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/GarrettC.jpg" width="250" height="220">
                <div class="caption">
                    <h4>Treasurer</h4>
                    <h3>Garrett Cookson</h3>
                    <a href="http://www.linkedin.com/pub/garrett-cookson/6b/185/816">
    
    <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29" border="0" alt="View Garrett Cookson's profile on LinkedIn">
    
    </a>
                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/Ian.jpg" width="250" height="220">
                <div class="caption">
                    <h4>Industry Outreach</h4>
                    <h3>Ian Pierce</h3>
                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/Jamila_W.jpg" width="250" height="220">
                <div class="caption">
                    <h4>Media Representative</h4>
                    <h3>Jamila White</h3>
                </div>
            </div>
            <br>

            <div class="col-sm-6 col-md-4">
                <img src="img/student-images/past-officers/Harry.jpg" width="250" height="220">
                <div class="caption">
                    <h4>Webmaster</h4>
                    <h3>Harry Ho</h3>
                    <a href="http://www.linkedin.com/pub/harry-ho/73/1a2/6a9">
    
    <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="152" height="29" border="0" alt="View Harry Ho's profile on LinkedIn">
</a>
                </div>
            </div>
            <br>






        </div>
    </div>
    <!-- End of 2014 Information -->




</div>