<div class="success">
    <div class="col-lg-12 text-center">
        <h3>Help Build our Website!</h3>
    </div>
    <div class="col-lg-12">
        <p>
            You can contribute to this web page by forking it on github! Simply click the 'Fork' button at the top right of this page, create a github account if you haven't already, and start hacking! When you've comitted all the changes you want to submit to the site, send them via a 'Pull Request'. The webmaster will then review and (possibly) merge your changes. Additionally, its possible to click the 'Edit this Page' link on several pages. This will walk you though more or less the same process as above, but with an easy-to-use web editor so you don't even need to check out the repository. Thanks for helping!
    </div>
</div>