<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="img/website-images/Logo_Background_homepage.png" alt="Responsive logo">
                </img>
                <div class="intro-text">
                    <span class="name">Biomedical Technology Student Association</span>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="col-lg-12 text-center">
            <div class="row">
                <h2>About</h2>
                <hr class="star-light">
            </div>
            <div class="row">

                <p>
                    The Biomedical Technology Student Association (BTSA) is the largest biotechnology club at San Diego State University. With informative guest speakers, tours of local industry, and a strong alumni network the BTSA provides a unique opportunity for students at SDSU.

                    <p>
                        The composition of our club is comprised of both undergraduate and graduate students, and members majoring in biology, chemistry, engineering, business, computer science, bioinformatics and more!
                        <p>
                            <div class="col-lg-12 text-center">
                                <a href="#/About" class="btn btn-primary btn-large">Learn More</a>
                            </div>


            </div>
        </div>
    </div>
</section>

<!-- Membership Section -->
<section id="membership">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2>Membership</h2>
                <hr class="star-primary">
                <div ng-controller="MasterCtrl">
                    <p>
                        The SDSU BTSA is open to anyone with an interested in biotechnology.
                        <p>
                            Meetings for the {{clubSettings.meetinginfo.semester}} semester are held every {{clubSettings.meetinginfo.time}}, in {{clubSettings.meetinginfo.location}}. All majors are invited to join the club. If you can not make the meeting time above, you can still become a member which allows access to awesome company tours and networking events.
                            <div class="col-lg-12 text-center">
                                <a href="#/Membership" class="btn btn-primary btn-large"> Join Now! </a>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Events Section -->
<section class="success" id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Events</h2>
                <hr class="star-light">
            </div>
            <div class="col-lg-12 text-center">
                <p>The BTSA provides a great way to learn about availible internships, network with employers, and discover career opportunities in exciting fields you may not have previously considered. The BTSA club has organized past trips to visit industry leading companies including Illumina, JCVI, Eli Lilly and CareFusion.

                    <div class="col-lg-12 text-center">
                        <a href="#/Events" class="btn btn-primary btn-large">Upcoming Events </a>
                    </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Us</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2" ng-controller="ContactUsCtrl">
                <form ng-submit="btnsubmit(contactform)" name="contactform" method="post" class="form-horizontal" role="form">
                    <div class="form-group" ng-class="{ 'has-error': formData.inputName.$invalid && submitted }">
                        <label for="inputName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': formData.inputEmail.$invalid && submitted }">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': formData.inputSubject.$invalid && submitted }">
                        <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                        <div class="col-lg-10">
                            <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': formData.inputMessage.$invalid && submitted }">
                        <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                        <div class="col-lg-10">
                            <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary btn-large" ng-disabled="submitButtonDisabled">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Sponsors -->
<section class="success" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sponsors</h2>
                <hr class="star-light">
            </div>
            <div class="col-lg-12 text-center">
                <div class="container">
                    <h3>A big thank you to our sponsors!</h3>
                </div>

                <div class="col-lg-4">
                    <img src="img/sponsors/sponsor-filler.jpg">
                </div>
                <div class="col-lg-4">
                    <img src="img/sponsors/sponsor-filler.jpg">
                </div>
                <div class="col-lg-4">
                    <img src="img/sponsors/sponsor-filler.jpg">
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <br>
                <a href="#/Sponsor" class="btn btn-primary btn-large"> Become a corporate sponsor</a>
            </div>
        </div>
    </div>
</section>

