<h2>BTSA Membership</h2>
<p>
Official membership is $10 per semester or $15 per academic year. The dues are used to fund events, club merchandise, and general activities throughout the school year. 
<p>

Meetings for the {{clubSettings.meetinginfo.semester}} semester are held every {{clubSettings.meetinginfo.time}}, in {{clubSettings.meetinginfo.location}}
<p>. All majors are invited to join the club.
<p>
If you cannot make the meeting times, but would still like to join the club. You are still eligible to become a member by attending 5 of our events and paying dues. Events will appear on our calendar so make sure you check it out, and there will be plenty of opportunities for you to come join a club event!

<p>
<img src="background/classroom.jpg" width="978" height="540">
<br>

</font>
</td>

<td width="43">&nbsp</tb>

<td width="8">




</td> 

</tr>
</table>




</body>
</html>
