<div class="success">
    <div class="container" >
        <p>
            <h2>BTSA Membership</h2>
            <br>
            <p>
                Official membership is $10 per semester or $15 per academic year. The dues are used to fund events, club merchandise, and general activities throughout the school year.

                <p>

                    If you cannot make the meeting times, but would still like to join the club. You are still eligible to become a member by attending 5 of our events and paying dues. Events will appear on our calendar so make sure you check it out, and there will be plenty of opportunities for you to come join a club event!

                    <p>
    </div>
    <div class="col-lg-12 text-center">
        <a href="https://docs.google.com/forms/d/1vdln-OijUU7V2LyfBaEqRhORx5iwWrbVby1IAUm4zzU/viewform" class="btn btn-primary"> Join Today!</a>
    </div>
    <p>
        <p>
</div>
<div class="col-lg-12 text-center">
    <img class="img-responsive" src="img/ClubPics/Group.JPG">
</div>