<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-type" />
<meta content="Biomedical Technology Student Association" name="description" />
<meta content="San Diego State University BTSA" name="keywords" />
<link href="btsa.css" rel="stylesheet" type="text/css" />
<link id="dummy_css" rel="stylesheet" type="text/css" /><title>Biomedical Technology Student Association Membership</title>
</head>

<body>
<img src="background/banner_new.jpg" width="1290" height="160"><!--Navigation starts here-->
<div style="margin-left: 0px;">
<div style="float: left; margin-top: 8px;">
<div style="padding-left: 0px;">
<div id="frontpage_container">
          <div id="h_column1"> <br>
            <!-- BEGIN: Navigation Menu -->
            <div id="h_box1"> 
              <div class="top"> </div>
              <div class="container"> 
                <div id="" class="" style="float: left; padding-left: 30px; width: 160px;"> 
                  <div class="" style="color: #6a0000; font-size: 18px;> 
                    <table style="margin: 0pt auto; width: 160px;">
                      <tbody>
                        <tr>
			   <td> 
                             <a href="index.html"> <i>HOME</i></a><br> 
                           </td>
			</tr>
                        <tr> 
                            <td><br>
                            <a href="about.html"><i> ABOUT</a></i><br>
                            </td>
                        </tr>
                        <tr> 
                            <td><br>
                            <a href="officers.html"><i> LEADERSHIP</a></i><br>
                            </td>
                        </tr>
                        <tr> 
                          <td><br>
                            <a href="events.html"><i> EVENTS</a></i> <br>
                            </td>
                        </tr>
                        <tr> 
                          <td><br><a href="previous.html"><i>PREVIOUS EVENTS</i></a> <br> 
				</td>
                        </tr>
                        <tr> 
                          <td><br>
                            <a href="membership.html"><b><i>MEMBERSHIP</i></b></a><br>
                            </td>
			</tr>
                        <tr> 
                          <td><br>
                            <a href="photos.html"><i>PHOTOS</i></a><br>
                            </td>
			</tr>
                        <tr> 
                        </tr>
                        </tr>
                        <tr> 
                          <td><span></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="btm"> </div>
              </div>
              <!--Navigation Menu ENDS HERE-->
            </div>
          </div>
</div>
</div>
</div>




<!--CONTENT Starts HERE-->
<div style="float: left; margin-left: 0px; margin-top: 20px; margin-right: 30px; width: 650px;">


<table width="1075" cellpadding="0" cellspacing="0">
<tr>
<td width="1038">
<font size="small" color="383838">

<h1 span style="float:center">
BTSA Membership
</h1>
<p>
Official membership is $10 per semester or $15 per academic year. The dues are used to fund events, club merchandise, and general activities throughout the school year. 
<p>

Meetings for the Spring of 2014 are held every Monday at 5:30, in Storm Hall West - 012
<p>. All majors are invited to join the club.
<p>
If you cannot make the meeting times, but would still like to join the club. You are still eligible to become a member by attending 5 of our events and paying dues. Events will appear on our calendar so make sure you check it out, and there will be plenty of opportunities for you to come join a club event!

<p>
<img src="background/classroom.jpg" width="978" height="540">
<br>

</font>
</td>

<td width="43">&nbsp</tb>

<td width="8">




</td> 

</tr>
</table>




</body>
</html>
