<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-type" />
<meta content="Biomedical Technology Student Association" name="description" />
<meta content="San Diego State University BTSA" name="keywords" />
<link href="btsa.css" rel="stylesheet" type="text/css" />
<link id="dummy_css" rel="stylesheet" type="text/css" /><title>Biomedical Technology Student Association Club Pictures</title>
</head>

<body>
<img src="background/banner_new.jpg" width="1290" height="160">
<p>
  <!--Navigation starts here-->
  <div style="margin-left: 0px;">
</p>
<div style="float: left; margin-top: 8px;">
  <div style="padding-left: 0px;">
<div id="frontpage_container">
          <div id="h_column1"> <br>
            <!-- BEGIN: Navigation Menu -->
            <div id="h_box1"> 
              <div class="top"> </div>
              <div class="container"> 
                <div id="" class="" style="float: left; padding-left: 30px; width: 160px;"> 
                  <div class="" style="color: #6a0000; font-size: 18px;> 
                    <table style="margin: 0pt auto; width: 160px;">
                      <tbody>
                        <tr>
			   <td> 
                             <a href="index.html"> <i>HOME</i></a><br> 
                           </td>
			</tr>
                        <tr> 
                            <td><br>
                            <a href="about.html"><i> ABOUT</a></i><br>
                            </td>
                        </tr>
                        <tr> 
                            <td><br>
                            <a href="officers.html"><i> LEADERSHIP</a></i><br>
                            </td>
                        </tr>
                        <tr> 
                          <td><br>
                            <a href="events.html"><i> EVENTS</a></i> <br>
                            </td>
                        </tr>
                        <tr> 
                          <td><br><a href="previous.html"><i>PREVIOUS EVENTS</i></a> <br> 
				</td>
                        </tr>
                        <tr> 
                          <td><br>
                            <a href="membership.html"><i>MEMBERSHIP</i></a><br>
                            </td>
			</tr>
                        <tr> 
                          <td><br>
                            <a href="photos.html"><b><i>PHOTOS</i></b></a><br>
                            </td>
			</tr>
                        <tr> 
                        </tr>
                        </tr>
                        <tr> 
                          <td><span></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="btm"> </div>
              </div>
              <!--Navigation Menu ENDS HERE-->
            </div>
          </div>
</div>
</div>
</div>




<!--CONTENT Starts HERE-->
<div style="float: left; margin-left: 0px; margin-top: 20px; margin-right: 30px; width: 650px;">


<table width="1000" cellpadding="0" cellspacing="0">
<tr>
<td width="466">
<font size="small" color="383838">

<div>
  <img src="background/ClubPics/LifeTech.jpg" width="700" height="536" style="width:100%;max-width:1600px">
</div>
<p>
Thanks to our Vp of Events and Industry Outreach Jenny Waters for helping set up a club trip to <a href="http://www.lifetechnologies.com/us/en/home.html">Life Technologies</a> where we had the opportunity to tour their facilities and get advice from their employees.
<div>
  <img src="background/ClubPics/TraceyMinutolo.JPG" style="width:100%;max-width:1400px">
</div>
<p>
Tracy Minutolo is a Microbiologist, and the Operations lead at <a href="http://www.ultimatelabsinc.com/">Ultimate Labs</a>, who we had the honor of having as a guest speaker, giving the club lessons on how to succeed coming out of college.
<div>
  <img src="background/ClubPics/Balboa.JPG" style="width:100%;max-width:1400px">
</div>
<p>
Volunteering for the aids walk in Balboa park.

  <div>
  <img src="background/ClubPics/Co-Chairs.JPG" style="width:100%;max-width:1400px">
</div>
  <p>
  Our Co-Chairs with Dr. Ronald Beckett, a Bioanthropologist who gave a very interesting talk about mummies and his experiences! 
<div>
  <img src="background/photo.JPG" style="width:100%;max-width:1400px">
</div>
<p>
Over 100 students attended our Resume Workshop with Twitter Technical Recruiter Keith Harris. 
Keith is an active SDSU alumni and President of the alumni association in San Francisco.

<p>

   <div>
     <img src="background/carefusion.jpg" style="width:100%;max-width:1400px">
   </div>

<p>
Learning about healthcare and medical device analytics. Our tour of  <a href="http://www.carefusion.com/">CareFusion</a> was given by the senior vice president of Medical Affairs and Chief Medical Officer Dr. Carlos Nunez. 


<p>
   <div>
     <img src="background/Bcancer.jpg" style="width:100%;max-width:1400px">
   </div>

<p>
Volunteering for the Making Strides Against Breast Cancer Walk in Balboa Park.

<p>

<p>
   <div>
          <img src="background/BioengineeringDay.jpg" style="width:100%;max-width:1400px">

<p>
Here are a few members of the BTSA standing in the center of the beautiful  <a href="http://www.salk.edu/">Salk Insitute</a>  in La Jolla (the ocean is right behind us).  After attending the UCSD Bioengineering Day at The Sanford Consortium, where we heard Craig Venter give a presentation, we walked across the street to get laboratory tours of the Salk Institute.
<p>


<br>

</font>
</td>

<td width="43">&nbsp</tb>

<td width="9">




</td> 

</tr>
</table>




</body>
</html>
