<div>
    <img src="img/ClubPics/LifeTech.jpg ">
</div>
<p>
    Thanks to our Vp of Events and Industry Outreach Jenny Waters for helping set up a club trip to <a href="http://www.lifetechnologies.com/us/en/home.html ">Life Technologies</a> where we had the opportunity to tour their facilities and get advice from their employees.
    <div>
        <img src="img/ClubPics/TraceyMinutolo.JPG " style="width:100%;max-width:1400px ">
    </div>
    <p>
        Tracy Minutolo is a Microbiologist, and the Operations lead at <a href="http://www.ultimatelabsinc.com/ ">Ultimate Labs</a>, who we had the honor of having as a guest speaker, giving the club lessons on how to succeed coming out of college.
        <div>
            <img src="img/ClubPics/Balboa.JPG " style="width:100%;max-width:1400px ">
        </div>
        <p>
            Volunteering for the aids walk in Balboa park.

            <div>
                <img src="img/ClubPics/Co-Chairs.JPG " style="width:100%;max-width:1400px ">
            </div>
            <p>
                Our Co-Chairs with Dr. Ronald Beckett, a Bioanthropologist who gave a very interesting talk about mummies and his experiences!
                <div>
                    <img src="img/photo.JPG " style="width:100%;max-width:1400px ">
                </div>
                <p>
                    Over 100 students attended our Resume Workshop with Twitter Technical Recruiter Keith Harris. Keith is an active SDSU alumni and President of the alumni association in San Francisco.

                    <p>

                        <div>
                            <img src="img/carefusion.jpg " style="width:100%;max-width:1400px ">
                        </div>

                        <p>
                            Learning about healthcare and medical device analytics. Our tour of <a href="http://www.carefusion.com/ ">CareFusion</a> was given by the senior vice president of Medical Affairs and Chief Medical Officer Dr. Carlos Nunez.


                            <p>
                                <div>
                                    <img src="img/Bcancer.jpg " style="width:100%;max-width:1400px ">
                                </div>

                                <p>
                                    Volunteering for the Making Strides Against Breast Cancer Walk in Balboa Park.

                                    <p>

                                        <p>
                                            <div>
                                                <img src="img/BioengineeringDay.jpg " style="width:100%;max-width:1400px ">

                                                <p>
                                                    Here are a few members of the BTSA standing in the center of the beautiful <a href="http://www.salk.edu/ ">Salk Insitute</a> in La Jolla (the ocean is right behind us). After attending the UCSD Bioengineering Day at The Sanford Consortium, where we heard Craig Venter give a presentation, we walked across the street to get laboratory tours of the Salk Institute.