<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-type" />
<meta content="Biomedical Technology Student Association" name="description" />
<meta content="San Diego State University BTSA" name="keywords" />
<link href="btsa.css" rel="stylesheet" type="text/css" />
<link id="dummy_css" rel="stylesheet" type="text/css" /><title>San Diego State Biomedical Technology Student Association Previous Events</title>
</head>

<body>
<img src="background/banner_new.jpg" width="1290" height="160">
<p>
  <!--Navigation starts here-->
  <div style="margin-left: 0px;">
</p>
<div style="float: left; margin-top: 8px;">
  <div style="padding-left: 0px;">
<div id="frontpage_container">
          <div id="h_column1"> <br>
            <!-- BEGIN: Navigation Menu -->
            <div id="h_box1"> 
              <div class="top"> </div>
              <div class="container"> 
                <div id="" class="" style="float: left; padding-left: 30px; width: 170px;"> 
                  <div class="" style="color: #6a0000; font-size: 18px;> 
                    <table style="margin: 0pt auto; width: 170px;">
                      <tbody>
                        <tr>
			   <td> 
                             <a href="index.html"> <i>HOME</i></a><br> 
                           </td>
			</tr>
                        <tr> 
                            <td><br>
                            <a href="about.html"><i> ABOUT</a></i><br>
                            </td>
                        </tr>
                        <tr> 
                            <td><br>
                            <a href="officers.html"><i> LEADERSHIP</a></i><br>
                            </td>
                        </tr>
                        <tr> 
                          <td><br>
                            <a href="events.html"><i> EVENTS</a></i> <br>
                            </td>
                        </tr>
                        <tr> 
                          <td><br>
                          <a href="previous.html"><b><i>PREVIOUS EVENTS</i></b></a> <br> 
				</td>
                        </tr>
                        <tr> 
                          <td><br>
                            <a href="membership.html"><i>MEMBERSHIP</i></a><br>
                            </td>
			</tr>
                        <tr> 
                          <td><br>
                            <a href="photos.html"><i>PHOTOS</i></a><br>
                            </td>
			</tr>
                        <tr> 
                        </tr>
                        </tr>
                        <tr> 
                          <td><span></span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="btm"> </div>
              </div>
              <!--Navigation Menu ENDS HERE-->
            </div>
          </div>
</div>
</div>
</div>




<!--CONTENT Starts HERE-->
<div style="float: left; margin-left: 0px; margin-top: 20px; margin-right: 30px;margin-bottom: 30px; width: 600px;">


<table width="1075" cellpadding="0" cellspacing="0">
<tr>
<td width="279">
<font size="small" color="383838">
<p>
<strong>Twitter Technical Recruiter Resume Workshop</strong>
   <div>
     <img src="background/btsatwitterposter.jpg" style="width:60%;max-width:1000px">
   </div>

<p>
<strong>SDSU's First Ever STEM Employer Panel Discussion</strong>

<p>
<u><a href="http://newscenter.sdsu.edu/sdsu_newscenter/news.aspx?s=74075"> Click here to read a news article about the STEM Panel Discussion.
        </a></u>

<p>
   <div>
     <img src="background/btsaflyer.jpg" style="width:60%;max-width:1000px">
   </div>

<p>


<br>

</font>
</td>

<td width="48">&nbsp</tb>

<td width="8">




</td> 

</tr>
</table>




</body>
</html>
