<div class="success">
    <div class="container" ng-controller="MasterCtrl" autoscroll="true">
        <h3>BTSA Resource Center</h3> This list is constantly being updated to provide a comprehensive list of biotechnology resources to the community. If there is something you would like to contribute, <a href="mailto:sdsubtsa@gmail.com?subject=BTSA Resource Center"> contact us</a> and we'll add it to the list.


        <!-- Todo: Add search bar to filter page content. -->

            <h4>Tutorials</h4>
            <a href="http://codeacademy.com"> Codeacademy.com </a>- Learn to code for free.

            <!-- Todo: Link to recently posted biotech jobs in SD. -->
            <h4>Links</h4>
            <a href="http://career.sdsu.edu/student_affairs/career/"> SDSU Career Services</a>
    </div>
</div>