<div class="success" >
    <div class="container">
        <h3>Becoming a Corperate Sponsor</h3>
    </div>
    <div class="container">
        <p>
            Make a positive impact on students lives by supporting our rapidly growing non-profit organization. There are a variety of partnership options from becoming a patron, to seeking an advisory position and joining the SDSU Biomedical Technology Student Association Board of Advisors.
            <ul>
                <li>
                    <h4>Become a Patron ($100)</h4>
                </li>
                <p>
                    As a Patron of the BTSA, you will be listed on our website and recognized for your support.

                    <li>
                        <h4>Sponsor an Event ($250 - 500)</h4>
                    </li>

                    <p>When sponsoring an Event, you and your business will be acknowledged throughout the event, shared on our Facebook page, and also listed on our website.

                        <li>
                            <h4>Sponsor a Speaker Series ($1000)</h4>
                        </li>

                        <p>Similarly to sponsoring an individual event, when sponsoring a Speaker Series, you and your business will be acknowledged throughout the events, thanked on our Facebook page, and also highly regarded on our website.

                            <li>
                                <h4>Become an Advisor ($500)</h4>
                            </li>

                            <p>The purpose of the advisory board is assisting the Entrepreneur Society Executive Board with access to resources, mentorship, and strategic guidance for a sustainable and effective organization. Contact {{clubSettings.president.name}}, the BTSA President to receive more information.
    </div>
</div>