<div class="success">
    <div class="col-lg-12 text-center">
        <h3>Becoming a Corperate Sponsor</h3>
    </div>
    <div class="col-lg-12">
        <p>
Make a positive impact on students lives by supporting our rapidly growing organization.
There are a variety of partnership options from becoming a patron, to seeking an advisory position and joining the SDSU BTSA Board of Advisors.
<ul>
<li><h4>Become a Patron ($100)</h4></li>
As a Patron of the Entrepreneur Society, you will be listed on our website and recognized for your support.

<li>Sponsor an Event $250 - 500</li>
When sponsoring an Entrepreneur Society Event, you and your business will be acknowledged throughout the event, shared on our Facebook page, and also listed on our website.

<li>Sponsor a Speaker Series $1000</li>
Similarly to sponsoring an individual event, when sponsoring a Speaker Series, you and your business will be acknowledged throughout the events, thanked on our Facebook page, and also highly regarded on our website.

<li>Become an Advisor $500</li>
The purpose of the advisory board is assisting the Entrepreneur Society Executive Board with access to resources, mentorship, and strategic guidance for a sustainable and effective organization. Contact Nolan Rakow, the Entrepreneur Society President to receive more information. 
    </div>
</div>